{% extends "base.html" %}
{% block content %}

<h1>Fostering School-Based Vocational Education in Maharashtra</h1>
<p>in alignment with NEP 2020</p>

<div class="choice">
    <a class="card" href="/teacher">Teacher</a>
    <a class="card" href="/field">Field Officer</a>
</div>
<div class="info-section">
    <h3>NEP–NCF Aligned Vocational Education Implementation</h3>
    <p>
        In line with NEP 2020 and the National Curriculum Framework, our school implements vocational education to support holistic development. 
        The program emphasizes hands-on learning, practical skills, and real-world exposure, enabling students to link academic learning with career readiness and future opportunities.
    </p>
</div>
{% endblock %}